*
{
	margin: 0;
	padding: 0;
	outline: 0;
}
@font-face{
	font-family: Roboto;
	src:url("http://localhost/coins/css/fonts/Roboto.ttf");
}
@font-face{
	font-family: OpenSans;
	src:url("http://localhost/coins/css/fonts/OpenSans.ttf");
}
section
{
	width: 100%;
	float: left;
	clear: both;
}
.container
{
	width: 960px;
	margin:0 auto;
}
/*Админка*/
.wrap-add-country
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.wrap-add-country form
{
	width: 80%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	margin: 20px 0;
}
.wrap-add-country h2
{
	display: block;
	min-width: 100%;
	float: left;
	clear: both;
	text-align: center;
}
.listCountry
{
	width: 80%;
	max-height: 200px;
	overflow-y: scroll;
}
.rowCountry img
{
	width: 40px;
	height: 30px;
}
.rowCountry
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: 1px solid grey;
	padding: 4px;
}
.wrap-coins
{
	padding: 40px 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.wrap-coins h2
{
	display: block;
	text-align: center;
	padding: 20px 0;
}
.addCoins form
{
	display: flex;
	justify-content: space-around;
	align-items: center;	
	flex-wrap: wrap;
	font-size: 12px;
}
.addCoins textarea
{
 	height: 30px;
}
.addCoins *
{
	padding: 5px 3px ;
	min-width: 25%;
}
.listCoins
{
	max-height: 400px;
	width: 90%;
	overflow-y: scroll;
}
.rowCoin
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	overflow: hidden;
	padding: 5px 0;
	border-bottom: 1px solid grey;
}
.rowCoin img
{
	height: 30px;
	width: 40px;
}
.topPanelListCoin
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	padding: 5px 0;
}
.editCoins
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	justify-content: center;
}
.editCoins form
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: 50%;
}
.editCoins form input
{
	width: 50%;
}
.editCoins form textarea
{
	width: 90%;
}
.editCoins form span
{
	width: 100%;
	box-sizing: content-box;
	text-align: center;
}
.editCoins form select
{
	width: 50%;
	margin: 0 25%;
}
.editCoins form img
{
	width: 55%;
}
/*Головна*/
.listCountryCards
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}
.listCountryCards img
{
	width: 90%;
	height: 140px;
}
.listCountryCards a
{
	width: 22%;
	text-decoration: none;
	margin-top: 10px;
}
.cardCountry
{
	width:100%;
	border:1px solid grey;
	text-align: center;
	padding: 5px;
}
.cardCountry h2
{
	text-align: center;
	font: 700 21px Roboto;
	color: #0C220B;
	padding: 5px 0;
}
.cardCountry span
{
	display: block;
	text-align: center;
	width: 100%;
	background-image: url('http://localhost/coins/images/coin_count.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position:60px center;
	padding: 2px 0;
	font: 700 14px OpenSans;
	color: #000;
}
.listCoinShower
{
	display: flex;
	justify-content: space-around;
}
.listCoinShower > a
{
	width: 19%;
	border:1px solid grey;
	text-decoration: none;
}
.listCoinShower img
{
	width: 90%;
	margin-left: 5%;
}
.listCoinShower  h5
{
	text-align: center;
}
.listCoinShower  span
{
	width: 100%;
	display: block;
	text-align: center;
}
/*log reg*/
#log_form
{
	max-width: 30%;
	min-width: 25%;
	display: block;
	background: #fff;
	padding: 20px 10px;
	border-radius: 5px;
	border:2px dashed #FF981A;
	opacity: 0.9;
}
#log_form >* 
{
	max-width: 90%;
	min-width: 90%;
	margin:10px auto;
	display: block;
}
#log_form h3{
	font: 700 18px Roboto;
	text-align: center;
}
#log_form a
{
	font-family: OpenSans;
	text-decoration: none;
	color: blue;
}
#log_form input[type="submit"]
{
	background: blue;
	color: #fff;
	max-width: 70%;
	border-radius: 4px;
	border:0;
	font: 700 16px OpenSans;
	padding: 5px 0;
	cursor: pointer;
}
#log_form input[type="submit"]:hover
{
	opacity: 0.8;
}
#log_form a:hover
{
	text-decoration: underline;
}
#log_form span
{
	font: 600 14px OpenSans;
}
/*footer*/
.footer
{
	display: flex;
	justify-content: space-around;
	padding:60px 0;	
	
}
.footer >div > div
{
	font:600 12px OpenSans;
}
.footer h3
{
	font: 700 18px Roboto;
	padding-bottom: 5px;
}
.footer > div
{
	min-width: 20%;
	max-width: 30%;
}
.footer a
{
	text-decoration: none;
}
.copyright
{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: OpenSans;
}
.sortPanel
{
	width: 100%;
	clear: both;
	float: left;
}
.sortPanel a
{
	float: right;
	margin-right: 10px;
	text-decoration: none;
	font: 700 19px Roboto;
	color: #fff;
	text-shadow: 0 0 1px #fff;
}
.sortPanel a:hover
{
	opacity: 0.7;
	color: #D09C35;
	text-shadow: 0 0 1px #D09C35;
}
/*header*/
.header
{
	background-image: rgba(0,0,0,.2);
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 40px 0;
}
.section_header
{
	background-image: url("http://localhost/coins/images/header.jpeg");
	background-attachment: fixed;
	background-size: 64%;
	background-repeat: repeat-x;
	background-position:center top;

}
.rightSectorHeader
{
	min-width: 50%;
	max-width: 70%;
}
.rightSectorHeader h1
{
	font: 700 32px Roboto;
}
.rightSectorHeader ul
{
	list-style: none;
	font: 700 16px OpenSans;
}
.rightSectorHeader hr
{
	border:none;
	border-top: 2px solid grey;
	max-width: 70%;
	margin: 40px auto;
}
.section_footer
{
	background-image: url("http://localhost/coins/images/footer.png");
	background-size: cover;
	background-position: center top;
}
.sector_card_nav
{
	padding: 20px 0 160px  0;
}
.sector_change_sort
{
	padding: 20px 0;
	background-color: #3568D0;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}
.cardCoins
{
	padding: 5px;
}
.cardCoins h5
{
	font: 700 21px Roboto;
	color: #000;
}
.cardCoins span
{
	font: 700 14px OpenSans;
	color: #000;
}
/*Node coin*/
.nodeCoin
{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.nodeCoin img
{
	min-width: 30%;
}
.nodeCoin .aboutCoin
{
	max-width: 50%;
	padding: 100px 0 0 0;
}
.nodeCoin .aboutCoin h2
{
	font: 700 28px Roboto;
	padding-bottom: 20px;
}
.nodeCoin .aboutCoin .textCoin
{
	font: 400 14px OpenSans;
}

.nodeCoin .aboutCoin .info
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 40px 0;
}
